.buttom{
    background-color: deepskyblue;
    padding: 15px;
}
.buttom_yes{
    display: inline-block;
    color: white;
    background-color: darkmagenta;
    font-family: sans-serif;
    padding: 15px;
    margin-right: 20px;
}
.intop{
    background-color: rgb(81, 255, 0);
    padding: 20px;
    margin-top: 40px;
    display: inline-block;
    width: 400px;
}
.buttom_intop{
    width: 45%;
    color: darkgreen;
    background-color: tomato;
    font-family: sans-serif;
    margin-right: 5%;
    float: left;
    border: solid 1px brown;
    text-align: center;
    padding: 10px;
    margin-right: 5%;
    box-sizing: border-box;
}
.clear{
    clear: both;
}