/* *{
  border: 0;
} */
header{
  background: blue;
  padding: 15px;
}
/* div{
  background: orange;
  margin-top: 40px;
  padding-right: 15px;
  display: inline-block;
} */
button{
  color: white;
  display: inline-block;
}
header button{
  background: purple;
  padding: 15px;
}
div button{
  background: orangered;
  float: left;
  width: 45%;
  margin-right: 5%;
  box-sizing: border-box;
}
header button, div button{
    margin-right:  20px;
}
body{
  height: 100vh;
  position: relative;
  background: yellow;
}
.popup{
  background: #ffff;
  position: absolute;
  display: block;
  left: 50%;
  top: 50%; 
  /* background-position: 25% 25%; */
  /* vertical-align: middle; */
  z-index: 41;
  width: 400px;
  height: 500px;
  border: 2px solid red;
  
  text-align: center;
  margin-left: -200px;
  margin-top: -250px;
  
  
}
