.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row,;
  -ms-flex: row, nowrap;
  flex: row, nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 375px) {
    .header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  .header .logo {
    margin-top: 50px; }
  .header .header-link {
    margin-top: 75px;
    text-transform: uppercase; }
    @media screen and (max-width: 375px) {
      .header .header-link {
        margin-left: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; } }
    .header .header-link .comp-link {
      color: #505356;
      text-decoration: none;
      margin-left: 35px; }
      @media screen and (max-width: 375px) {
        .header .header-link .comp-link {
          margin-top: 30px; } }
  .header .comp-link.line {
    border-top: #f9d10d 2px solid;
    padding-top: 20px; }

.main-heading {
  font-size: 50px;
  margin-left: 120px; }
  @media screen and (max-width: 375px) {
    .main-heading {
      margin-left: 10px;
      font-style: 25px; } }

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.info-box {
  margin-top: 40px;
  padding-left: 30px;
  padding-bottom: 40px;
  margin-right: 40px;
  padding-top: 45px;
  width: 480px;
  background-color: #ffffff;
  -webkit-box-shadow: 1px -1px 18px 0px #f9f9fa;
  box-shadow: 1px -1px 18px 0px #f9f9fa; }
  @media screen and (max-width: 375px) {
    .info-box {
      margin-left: 40px;
      margin-top: 30px; } }
  .info-box .main-text {
    margin-bottom: 40px;
    color: #888888; }
  .info-box .read-more {
    margin-top: 30px;
    color: #111518;
    text-decoration: none;
    background-color: #60e3a1;
    border-radius: 2px;
    padding: 20px 30px; }

.info-box.short-box {
  margin-bottom: 50px; }

.info-box.right-box {
  margin-top: -10px;
  margin-bottom: 50px; }

.sum-text {
  margin-bottom: 40px;
  color: #888a8b;
  font-size: 15px;
  font-weight: bold; }

.back-link {
  background-color: #fff;
  border: #60e3a1 1px solid;
  border-radius: 2px;
  text-decoration: none;
  color: #000;
  padding: 15px 20px; }

.fas.fa-arrow-left {
  color: #60e3a1;
  margin-right: 15px; }

.section-wrapper {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 375px) {
    .section-wrapper {
      margin-top: 30px; } }

.footer {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #1d1e25; }
  @media screen and (max-width: 375px) {
    .footer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.contacts {
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #1d1e25;
  color: #fff; }

.phone {
  margin-top: -20px; }

.copyright {
  margin-right: 5px;
  margin-top: 5px;
  color: #4a4d5e; }
